/*----------------------------------------------------------------------------------------------*/
/* FORMS */
/*----------------------------------------------------------------------------------------------*/
input,
select,
textarea {
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border: 0;
  box-sizing: border-box;
  color: black;
  margin-bottom: 10px;
  font-weight: 300;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

// BUTTONS
button {
  font-family: $font-family-main !important;
  font-size: 1em;
  color: white;
  padding: 20px;
  border: 0 !important;
  cursor: pointer;
  width: 100%;
}

button[type="submit"] {
  background-color: #4caf50;
}
button[type="reset"] {
  background-color: rgb(206, 27, 27);
}

button[type="submit"]:hover {
  background-color: #45a049;
}
button[type="reset"]:hover {
  background-color: rgb(170, 22, 22);
}

.ghost-button {
  padding: 8px;
  border: 1px solid $color-grey3 !important;
  background-color: white;
  color: $color-grey3;
  transition: 0.5s;
}

.ghost-button:hover {
  cursor: pointer;
  color: white;
  background-color: $color-grey3;
  transition: 0.5s;
}
